@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-10" style="text-align:left">
        <p>
            Test Amaçlı olarak sadece kullanıcı tanım ekranı vardır.
        </p>
        <p> opensource nopcommerce ın altyapısından faydalanarak çok katmanlı mimari yapıda geliştirilmiştir / geliştirilmeye devam etmektedir.</p>
        <p> Uygulama ASP.Net MVC teknolojisi ve Data Access Layer olarak da Entity Framework (EF) Code-First kullanılmaktadır.</p>
        <p> Yapının temellerinden bir diğeride Inversion of Control and Dependency Injection dir.</p>
        <p> IoC olarac Autofac tercih edilmiştir.</p>
        <p> Data Validatsyon olarak Fluent Validation</p>
        <p> Authentication olarak Orchad da kullanılan yapı vardır.</p>
        <p> Uygulamada ScheduleTask,Events Handling,Settings sayesinde Loglama ve program için gerekli setingsler oluşturulmuştur.</p>
        <p> Programda Localization mantığı ile çok dillilik sağlanmaktadır.</p>
        <p> Nopcommerance de yer alan plugin mantığı (ayrieten modül olarak yazılan programların eklenmesi, windows karşılığı MEF) kaldırılmıştır.</p>

    </div>
</div>